body {
    /* background-image: url('assets/WORDLEtile.webp');
    background-repeat: repeat;
    background-size: 20px;
    color:red; */
    background-color: grey;
    color: white;
}
button{
    background-color: green;
    color: white;
}
href{
    color:blue;
    text-decoration: underline;
}
#fig1{
    float:right;

}
@media screen and (max-width: 320px){
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
body{
    margin-right: 0;
}
#fig1{
    float:right;
    width: ;
}
}
@media screen and (min-width: 600px){
    nav{
        display: flex;
        align-items: right;
        justify-content: right;
        gap: 10px;
        padding: 10px;
    }
}